 body{
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000;
    
 }
 
 ul {
    list-style-type: none;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    padding: 15px;
    }


 li {
    float: left;
    }

  a {
    text-decoration: none;
    color: #000;
    padding: 8px;
    }

  a:hover, a:active {
    text-decoration: underline;
   }

.apps{
    height: 22px;
    padding: 10px;
    margin-top: -14px;
}

.account{
    display: block;
    height: 40px;
    padding: 5px;
    margin-top: -18px;
}

#main{
    text-align: center;
}

.logo {
    width: 100%;
    padding-top: 150px;
}

.search{
    
    
}

.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 0 5px;
    width: 139px;
    height: 39px;
    font-size: 14px;
    color: #000;
    opacity: 0.75;
}

.search-bar {  
    height: 40px;
    width: 450px;
    border: solid 1px rgb(214, 211, 211); 
    border-radius: 28px;
    margin-top: 27px;
    padding: 2px 0px 2px 50px;
    font-size: 14px;
    background-image: url(/images/magnifier.png);
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 18px;
    background-color: transparent;
    
}

.search-bar:hover, .search-bar:active{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 45px;
    color: #000;
    opacity: 0.75;
    padding-bottom: 6px;
    margin-left: -10px;
    border: solid 1px rgb(216, 216, 216);
    background: rgb(240, 240, 240);
    visibility: visible;
}

.footer2{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    color: #000;
    opacity: 0.75;
    padding-bottom: 6px;
    margin-left: -10px;
    border: solid 1px rgb(216, 216, 216);
    background: rgb(240, 240, 240);
    visibility: visible;

}

#region{
    display: inline-block;
    font-size: 15px;
    color: #000;
    opacity: 0.75;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 6px;
}

.fil{
    font-size: 14px;
    float: left;
    padding-left: 15px;
    padding-bottom: 6px;
    margin: 0 !important;
    

}

.fir{
    float: right;
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 6px;
    margin: 0 !important;
}
